body {
	padding-top: 140px;
}
.c-header.isFixed {
	background-color: white;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 10%), 0 2px 4px -1px rgba(0, 0, 0, 6%);
}

	.c-header-logo {
		height: 100px;
	}



.banner {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
}